.totalcontact-container {
    display: flex;
}

.totalcontact-content {

    width: 85%;
    height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    height: 14%;
}

.table-container {
    overflow: hidden;
    height: 70%;
}

.button-container {
    display: flex;
}


.left{
    width: 30%;
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
}
.right{
    width: 70%;
    display: inline-block;
    text-align: right;
}

.dustbin{
    color: red;
}